.friends {
  width: 600px;
  border: 1px solid;
  border-radius: 20px;
  margin-bottom: 30px;
}

.friend-title {
  color: black;
  text-align: center;
  margin: 20px;
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.friend-item {
  background-color: white;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.status {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 20px;
}

.status-green {
  background-color: green;
}

.status-red {
  background-color: red;
}

.friend-avatar {
  width: 80px;
  height: 80px;
}

.friend-name {
  font-size: 30px;
  color: black;
}
